*-checkpoint.ipynb
.idea/workspace.xml
.idea/tasks.xml
GeMpy/__pycache__/DataManagement.cpython-36.pyc
GeMpy/__pycache__/GeMpy.cpython-36.pyc
GeMpy/__pycache__/Visualization.cpython-36.pyc
GeMpy/__pycache__/theanograf.cpython-36.pyc
