*-checkpoint.ipynb

GeMpy/__pycache__/DataManagement.cpython-36.pyc
GeMpy/__pycache__/GeMpy.cpython-36.pyc
GeMpy/__pycache__/Visualization.cpython-36.pyc
GeMpy/__pycache__/theanograf.cpython-36.pyc

GeMpy/DataManagement.pyc
GeMpy/GeMpy.pyc
GeMpy/Visualization.pyc
GeMpy/__pycache__/coKriging.cpython-36.pyc
GeMpy/theanograf.pyc
docs/build/doctrees/Notebooks/Erosion.doctree
docs/build/doctrees/Notebooks/Example_2_Simple_PyMC3.doctree
docs/build/doctrees/Notebooks/Example_3_Faults.doctree
docs/build/doctrees/Notebooks/OptimizationNotebook.doctree
docs/build/doctrees/Notebooks/legacy/
docs/build/html/Notebooks/Erosion.html
docs/build/html/Notebooks/Example_2_Simple_PyMC3.html
docs/build/html/Notebooks/Example_3_Faults.html
docs/build/html/Notebooks/OptimizationNotebook.html
docs/build/html/Notebooks/legacy/
docs/build/html/_images/Example_1_Sandstone_34_01.png
docs/build/html/_images/Example_1_Sandstone_36_01.png
docs/build/html/_images/Example_1_Sandstone_39_0.png
docs/build/html/_images/Example_1_Sandstone_41_0.png
docs/build/html/_images/Example_1_Sandstone_41_11.png
docs/build/html/_images/Example_1_Sandstone_46_1.png
docs/build/html/_images/Example_1_Sandstone_6_11.png
docs/build/html/_images/Example_2_Simple-Deprecated_15_11.png
docs/build/html/_images/Example_2_Simple-Deprecated_21_11.png
docs/build/html/_images/Example_2_Simple-Deprecated_23_01.png
docs/build/html/_images/Example_2_Simple-Deprecated_26_11.png
docs/build/html/_images/Example_2_Simple-Deprecated_28_01.png
docs/build/html/_images/Example_2_Simple-Deprecated_28_11.png
docs/build/html/_images/Example_2_Simple-Deprecated_28_21.png
docs/build/html/_images/Example_2_Simple-Deprecated_28_31.png
docs/build/html/_images/Example_2_Simple-Deprecated_8_01.png
docs/build/html/_images/Example_2_Simple_PyMC3_13_0.png
docs/build/html/_images/Example_2_Simple_PyMC3_13_01.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_0.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_01.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_1.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_11.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_2.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_21.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_3.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_31.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_4.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_41.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_5.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_51.png
docs/build/html/_images/Example_2_Simple_PyMC3_8_0.png
docs/build/html/_images/Example_2_Simple_PyMC3_8_01.png
docs/build/html/_images/Example_3_Faults_9_1.png
docs/build/html/_images/Example_3_Faults_9_11.png
docs/build/html/_modules/DataManagement.html
docs/build/html/_modules/GeMpy.html
docs/build/html/_modules/theanograf.html
docs/build/html/_sources/Notebooks/Erosion.rst.txt
docs/build/html/_sources/Notebooks/Example_2_Simple_PyMC3.rst.txt
docs/build/html/_sources/Notebooks/Example_3_Faults.rst.txt
docs/build/html/_sources/Notebooks/OptimizationNotebook.rst.txt
docs/build/html/_sources/Notebooks/legacy/

.cache/
GeMpy/__pycache__/__init__.cpython-36.pyc
GeMpy/__pycache__/geomodeller_xml_obj.cpython-36.pyc
GeMpy/geomodeller_xml_obj.py.bak
GeMpy/qgrid/__pycache__/
Prototype Notebook/Example_4_faults_network.ipynb
Prototype Notebook/Example_Peter_Model.ipynb
Prototype Notebook/Fabian.vtp
Prototype Notebook/Fabian1.vtp
Prototype Notebook/Fabian2.vtp
Prototype Notebook/Fabian3.vtp
Prototype Notebook/Fabian4.vtp
Prototype Notebook/FabianModelBigPoints.vtk
Prototype Notebook/FabianModelSmallPoints.vtk
Prototype Notebook/FabianModel_point.vti
Prototype Notebook/FabianModel_point_good_res.vti
Prototype Notebook/Fabian_f.vtp
Prototype Notebook/Fault.vtk
Prototype Notebook/Intrusions.ipynb
Prototype Notebook/Layer1.vtk
Prototype Notebook/Layer2.vtk
Prototype Notebook/Layer3.vtk
Prototype Notebook/Layer4.vtk
Prototype Notebook/More cave/
Prototype Notebook/PF_over_TKC/
Prototype Notebook/PerthBasin.vti
Prototype Notebook/PerthBasin.vtk
Prototype Notebook/PerthBasinOtherColors.vtk
Prototype Notebook/Physics.ipynb
Prototype Notebook/SandstoneSol.npy
Prototype Notebook/TriangleColoredPoints.vtp
Prototype Notebook/TriangleSolidColor.vtp
Prototype Notebook/Visualization3_vtkBasics.ipynb
Prototype Notebook/files fab/
Prototype Notebook/geomodels.sqlite
Prototype Notebook/legacy/.ipynb_checkpoints/
Prototype Notebook/models.npy
Prototype Notebook/olaqases.vox
Prototype Notebook/preth.npy
Prototype Notebook/sandstone.vtk
Prototype Notebook/sandstone.vtr
Prototype Notebook/simplices.npy
Prototype Notebook/vertices.npy
Prototype Notebook/voxet_sub.vox
Prototype Notebook/withfault.npy
docs/source/Notebooks/Erosion.rst
docs/source/Notebooks/Example_1_Sandstone_files/Example_1_Sandstone_39_0.png
docs/source/Notebooks/Example_1_Sandstone_files/Example_1_Sandstone_41_0.png
docs/source/Notebooks/Example_1_Sandstone_files/Example_1_Sandstone_46_1.png
docs/source/Notebooks/Example_2_Simple_PyMC3_files/
docs/source/Notebooks/Example_3_Faults_files/
docs/source/Notebooks/OptimizationNotebook.rst
docs/source/Notebooks/legacy/
docs/source/index_legacy.rst
input_data/Erosion_Foliations.csv
input_data/Erosion_Points.csv
input_data/FabLessPoints_Foliations.csv
input_data/FabLessPoints_Points.csv
input_data/Fab_Model_MorePoints_Foliations.csv
input_data/Fab_Model_MorePoints_Points.csv
input_data/Intrusion-test/
legacy/.ipynb_checkpoints/
test/.ipynb_checkpoints/
test/GeoModeller/
test/__pycache__/
test/legacy/
test/log
test/log2
/gempy/geomodeller_xml_obj.py.bak
!/input_data/FabLessPoints_Foliations.csv
!/input_data/FabLessPoints_Points.csv

