*-checkpoint.ipynb
.idea/workspace.xml
.idea/tasks.xml
GeMpy/__pycache__/DataManagement.cpython-36.pyc
GeMpy/__pycache__/GeMpy.cpython-36.pyc
GeMpy/__pycache__/Visualization.cpython-36.pyc
GeMpy/__pycache__/theanograf.cpython-36.pyc
.idea/inspectionProfiles/
GeMpy/DataManagement.pyc
GeMpy/GeMpy.pyc
GeMpy/Visualization.pyc
GeMpy/__pycache__/coKriging.cpython-36.pyc
GeMpy/theanograf.pyc
docs/build/doctrees/Notebooks/Erosion.doctree
docs/build/doctrees/Notebooks/Example_2_Simple_PyMC3.doctree
docs/build/doctrees/Notebooks/Example_3_Faults.doctree
docs/build/doctrees/Notebooks/OptimizationNotebook.doctree
docs/build/doctrees/Notebooks/legacy/
docs/build/html/Notebooks/Erosion.html
docs/build/html/Notebooks/Example_2_Simple_PyMC3.html
docs/build/html/Notebooks/Example_3_Faults.html
docs/build/html/Notebooks/OptimizationNotebook.html
docs/build/html/Notebooks/legacy/
docs/build/html/_images/Example_1_Sandstone_34_01.png
docs/build/html/_images/Example_1_Sandstone_36_01.png
docs/build/html/_images/Example_1_Sandstone_39_0.png
docs/build/html/_images/Example_1_Sandstone_41_0.png
docs/build/html/_images/Example_1_Sandstone_41_11.png
docs/build/html/_images/Example_1_Sandstone_46_1.png
docs/build/html/_images/Example_1_Sandstone_6_11.png
docs/build/html/_images/Example_2_Simple-Deprecated_15_11.png
docs/build/html/_images/Example_2_Simple-Deprecated_21_11.png
docs/build/html/_images/Example_2_Simple-Deprecated_23_01.png
docs/build/html/_images/Example_2_Simple-Deprecated_26_11.png
docs/build/html/_images/Example_2_Simple-Deprecated_28_01.png
docs/build/html/_images/Example_2_Simple-Deprecated_28_11.png
docs/build/html/_images/Example_2_Simple-Deprecated_28_21.png
docs/build/html/_images/Example_2_Simple-Deprecated_28_31.png
docs/build/html/_images/Example_2_Simple-Deprecated_8_01.png
docs/build/html/_images/Example_2_Simple_PyMC3_13_0.png
docs/build/html/_images/Example_2_Simple_PyMC3_13_01.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_0.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_01.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_1.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_11.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_2.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_21.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_3.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_31.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_4.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_41.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_5.png
docs/build/html/_images/Example_2_Simple_PyMC3_19_51.png
docs/build/html/_images/Example_2_Simple_PyMC3_8_0.png
docs/build/html/_images/Example_2_Simple_PyMC3_8_01.png
docs/build/html/_images/Example_3_Faults_9_1.png
docs/build/html/_images/Example_3_Faults_9_11.png
docs/build/html/_modules/DataManagement.html
docs/build/html/_modules/GeMpy.html
docs/build/html/_modules/theanograf.html
docs/build/html/_sources/Notebooks/Erosion.rst.txt
docs/build/html/_sources/Notebooks/Example_2_Simple_PyMC3.rst.txt
docs/build/html/_sources/Notebooks/Example_3_Faults.rst.txt
docs/build/html/_sources/Notebooks/OptimizationNotebook.rst.txt
docs/build/html/_sources/Notebooks/legacy/

